# Cryptocurrency Price Movement Classifier

Based on [Build A Cryptocurrency Price Movement Classifier](https://www.youtube.com/watch?v=YeYmXNvFrpQ) from [Computer Science](https://www.youtube.com/channel/UCbmb5IoBtHZTpYZCDBOC1CA)

**Disclaimer:** _Investing in the stock market involves risk and can lead to monetary loss. This material is purely for educational purposes and should not be taken as professional investment advice. Invest at your own discretion._

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

Read the file

In [2]:
df = pd.read_csv('BTC.csv')

Show the data

In [3]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-03-25,52726.746094,53392.386719,50856.570312,51704.160156,67999812841,0,0
1,2021-03-26,51683.011719,55137.312500,51579.855469,55137.312500,56652197978,0,0
2,2021-03-27,55137.566406,56568.214844,54242.910156,55973.511719,47266542233,0,0
3,2021-03-28,55974.941406,56610.312500,55071.113281,55950.746094,47686580918,0,0
4,2021-03-29,55947.898438,58342.097656,55139.339844,57750.199219,57625587027,0,0
...,...,...,...,...,...,...,...,...
94,2021-06-27,32287.523438,34656.128906,32071.757812,34649.644531,35511640894,0,0
95,2021-06-28,34679.121094,35219.890625,33902.074219,34434.335938,33892523752,0,0
96,2021-06-29,34475.558594,36542.109375,34252.484375,35867.777344,37901460044,0,0
97,2021-06-30,35908.386719,36074.757812,34086.152344,35040.835938,34059036099,0,0
98,2021-07-01,35035.984375,35035.984375,32883.781250,33572.117188,37838957079,0,0

Create a function to calculate the Exponential Moving Average (EMA) indicator

In [4]:
def EMA(data, period=20, column='Close'):
    return data[column].ewm(span=period, adjust=False).mean()

Create a function to calculate the Relative Strength Index (RSI)

In [5]:
def RSI(data, period=14, column='Close'):
    delta = data[column].diff(1)
    delta = delta.dropna()
    up = delta.copy()
    down = delta.copy()
    up[up<0] = 0
    down[down>0] = 0
    data['up'] = up
    data['down'] = down
    AVG_Gain = EMA(data, period, column='up')
    AVG_Loss = abs(EMA(data, period, column='down'))
    RS = AVG_Gain / AVG_Loss
    RSI = 100.0 - (100.0/(1.0 + RS))
    
    data['RSI'+str(period)] = RSI
    
    return data

In [6]:
RSI(df, 7)
RSI(df, 14)
RSI(df, 20)
df['EMA15'] = EMA(df, 15)
df['EMA20'] = EMA(df, 20)
df['EMA50'] = EMA(df, 50)

Show the data

In [7]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50
0,2021-03-25,52726.746094,53392.386719,50856.570312,51704.160156,67999812841,0,0,NaN,NaN,NaN,NaN,NaN,51704.160156,51704.160156,51704.160156
1,2021-03-26,51683.011719,55137.312500,51579.855469,55137.312500,56652197978,0,0,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581
2,2021-03-27,55137.566406,56568.214844,54242.910156,55973.511719,47266542233,0,0,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391
3,2021-03-28,55974.941406,56610.312500,55071.113281,55950.746094,47686580918,0,0,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771
4,2021-03-29,55947.898438,58342.097656,55139.339844,57750.199219,57625587027,0,0,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2021-06-27,32287.523438,34656.128906,32071.757812,34649.644531,35511640894,0,0,2463.367188,0.000000,59.201177,50.235583,47.757551,34719.227096,35314.722065,39431.964504
95,2021-06-28,34679.121094,35219.890625,33902.074219,34434.335938,33892523752,0,0,0.000000,-215.308594,56.783892,49.200183,47.071352,34683.615701,35230.875767,39235.979070
96,2021-06-29,34475.558594,36542.109375,34252.484375,35867.777344,37901460044,0,0,1433.441406,0.000000,68.280724,56.143919,52.132330,34831.635906,35291.533060,39103.892728
97,2021-06-30,35908.386719,36074.757812,34086.152344,35040.835938,34059036099,0,0,0.000000,-826.941406,56.681977,51.461639,49.136557,34857.785910,35267.657144,38944.557167
98,2021-07-01,35035.984375,35035.984375,32883.781250,33572.117188,37838957079,0,0,0.000000,-1468.718750,40.421641,43.950138,44.155556,34697.077320,35106.177148,38733.873246

Create the target column to determine if tomorrow's price will be greater than today's price

In [8]:
df['Target'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)

Show the data

In [9]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50,Target
0,2021-03-25,52726.746094,53392.386719,50856.570312,51704.160156,67999812841,0,0,NaN,NaN,NaN,NaN,NaN,51704.160156,51704.160156,51704.160156,1
1,2021-03-26,51683.011719,55137.312500,51579.855469,55137.312500,56652197978,0,0,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581,1
2,2021-03-27,55137.566406,56568.214844,54242.910156,55973.511719,47266542233,0,0,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391,0
3,2021-03-28,55974.941406,56610.312500,55071.113281,55950.746094,47686580918,0,0,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771,1
4,2021-03-29,55947.898438,58342.097656,55139.339844,57750.199219,57625587027,0,0,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2021-06-27,32287.523438,34656.128906,32071.757812,34649.644531,35511640894,0,0,2463.367188,0.000000,59.201177,50.235583,47.757551,34719.227096,35314.722065,39431.964504,0
95,2021-06-28,34679.121094,35219.890625,33902.074219,34434.335938,33892523752,0,0,0.000000,-215.308594,56.783892,49.200183,47.071352,34683.615701,35230.875767,39235.979070,1
96,2021-06-29,34475.558594,36542.109375,34252.484375,35867.777344,37901460044,0,0,1433.441406,0.000000,68.280724,56.143919,52.132330,34831.635906,35291.533060,39103.892728,0
97,2021-06-30,35908.386719,36074.757812,34086.152344,35040.835938,34059036099,0,0,0.000000,-826.941406,56.681977,51.461639,49.136557,34857.785910,35267.657144,38944.557167,0
98,2021-07-01,35035.984375,35035.984375,32883.781250,33572.117188,37838957079,0,0,0.000000,-1468.718750,40.421641,43.950138,44.155556,34697.077320,35106.177148,38733.873246,0

Remove the first row of data

In [10]:
df = df[1:]

Show the data

In [11]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50,Target
1,2021-03-26,51683.011719,55137.312500,51579.855469,55137.312500,56652197978,0,0,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581,1
2,2021-03-27,55137.566406,56568.214844,54242.910156,55973.511719,47266542233,0,0,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391,0
3,2021-03-28,55974.941406,56610.312500,55071.113281,55950.746094,47686580918,0,0,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771,1
4,2021-03-29,55947.898438,58342.097656,55139.339844,57750.199219,57625587027,0,0,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652,1
5,2021-03-30,57750.132812,59447.222656,57251.550781,58917.691406,54414116432,0,0,1167.492188,0.000000,99.822826,99.904016,99.932453,54282.621489,53763.450787,52631.788132,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2021-06-27,32287.523438,34656.128906,32071.757812,34649.644531,35511640894,0,0,2463.367188,0.000000,59.201177,50.235583,47.757551,34719.227096,35314.722065,39431.964504,0
95,2021-06-28,34679.121094,35219.890625,33902.074219,34434.335938,33892523752,0,0,0.000000,-215.308594,56.783892,49.200183,47.071352,34683.615701,35230.875767,39235.979070,1
96,2021-06-29,34475.558594,36542.109375,34252.484375,35867.777344,37901460044,0,0,1433.441406,0.000000,68.280724,56.143919,52.132330,34831.635906,35291.533060,39103.892728,0
97,2021-06-30,35908.386719,36074.757812,34086.152344,35040.835938,34059036099,0,0,0.000000,-826.941406,56.681977,51.461639,49.136557,34857.785910,35267.657144,38944.557167,0
98,2021-07-01,35035.984375,35035.984375,32883.781250,33572.117188,37838957079,0,0,0.000000,-1468.718750,40.421641,43.950138,44.155556,34697.077320,35106.177148,38733.873246,0

Get a list of columns to keep

In [12]:
keep_columns = df.drop(['Date','Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits', 'Close', 'up', 'down', 'Target'], axis=1).columns

In [13]:
keep_columns

Index(['RSI7', 'RSI14', 'RSI20', 'EMA15', 'EMA20', 'EMA50'], dtype='object')

In [14]:
X = df[keep_columns].values
Y = df['Target'].values

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

Create the model

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
forest = RandomForestClassifier(n_estimators=1, criterion='entropy', random_state=1)

In [18]:
forest.fit(X_train, Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=1, random_state=1)

In [19]:
forest.score(X_train, Y_train)

0.7564102564102564

See how well the model did on the test data

In [20]:
forest.score(X_test, Y_test)

0.6

In [21]:
forest_predictions = forest.predict(X_test)

Predicted by model values

In [22]:
forest_predictions

array([1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1])

Actual values

In [23]:
Y_test

array([1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0])

**THIS IS NOT AN INVESTMENT ADVICE!**